#### Q-19. Write an SQL query to determine the 5th highest salary without using TOP or limit method.

In [ ]:
SELECT * FROM (SELECT ROW_NUMBER() OVER (ORDER BY salary DESC) AS R_NUM, first_name, salary FROM employee) as HEllO WHERE R_NUM=5;

#### Q-20. Write an SQL query to fetch the list of employees with the same salary.

In [ ]:
# create table
CREATE TABLE employee (
    emp_id INT PRIMARY KEY AUTO_INCREMENT NOT NULL,
    first_name VARCHAR(50),
    last_name VARCHAR(50),
    salary INT
);

# insert values
INSERT INTO employee VALUES
(1,'Channu','Sah',10000),
(2,'Manju','Han',20000),
(3,'Avi','Solo',50000),
(4,'Rey','Ban',15000),
(5,'Han','Sam',10000),
(6,'Kup','Bahu',15000);

# fetching the list of employees with the same salary
select  *  from  employee
where salary in (select salary from employee
group by salary
having count(1)>1)